<form (submit)="submit()" class="form" [formGroup]="form">
  <div class="form-group">
    <label for="titular">Titular de la cuenta</label>
    <input type="text" id="titular" class="form-control" formControlName="titular">
  </div>

  <div class="form-group">
    <label for="capital">Capital inicial</label>
    <input type="number" id="capital" class="form-control" formControlName="capital">
  </div>

  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-success btn-block" [disabled]="!form.valid">Crear Cuenta</button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-danger btn-block" (click)="cancelNewAccount()">Cancelar</button>
    </div>
  </div>
</form>