<h1 class="display-1">Bienvenidos al Banco</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, iste? Non dolorem provident deleniti amet molestiae? Earum
  nostrum ipsum eius cupiditate architecto alias atque officiis aliquam, nisi nulla nobis beatae ad voluptatem at commodi.
  Labore inventore sapiente ut repellendus soluta ducimus facere atque omnis minima veritatis impedit, ipsam, iusto in? Provident
  doloribus laboriosam magni culpa soluta tenetur hic voluptas blanditiis molestias sapiente autem accusantium quos vero
  nulla minima nobis voluptatum veniam debitis reiciendis,</p>